<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="dbFile" value="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=G:\\FLEX_DB.MDB"/>
    <add key ="dir" value="G:\"/>
    <add key ="sleepingTime" value="5000"/>
   
    
    <add key="in" value="289"/>
    <add key="out" value="290"/>
    <add key ="keyV" value="1073762"/>
    <add key ="group" value="Упр развития банковских систем"/>
  </appSettings>

  <connectionStrings>
    <add name="ConString" connectionString="DATA SOURCE=127.0.0.1:1521/orcl.local.com;PASSWORD=123;PERSIST SECURITY INFO=True;USER ID=SCU"/>
  </connectionStrings>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>